html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  width: 100%;
  min-height: 100vh;
  --color: #faa7d8;
  background:
    linear-gradient(45deg, var(--color) 25%, transparent 25%) -50px 0,
    linear-gradient(-45deg, var(--color) 25%, transparent 25%) -50px 0,
    linear-gradient(45deg, transparent 75%, var(--color) 75%) -50px 0,
    linear-gradient(-45deg, transparent 75%, var(--color) 75%) -50px 0;
  background-color: #e5e5f7;
  background-size: 10px 40px;



}
h1 {
  font-family: "Gwendolyn", cursive;
  font-weight: 400;
  font-style: normal;
  font-family: "Gwendolyn", cursive;
  font-weight: 700;
  font-style: normal;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  --color: #c09bd8;
  background-color: #9f84bd;
  width: 100%;
  height: 100%;
  position: relative;
  
}
.container2::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.8;
  background: radial-gradient(circle, var(--color) 15%, transparent 15%),
    radial-gradient(circle, var(--color) 15%, transparent 15%) 6px -6px,
    radial-gradient(circle, var(--color) 15%, transparent 15%) 6px -1px,
    radial-gradient(circle, var(--color) 15%, transparent 15%) 10px 2px,
    radial-gradient(circle, var(--color) 15%, transparent 15%) 14px 5px,
    radial-gradient(circle, var(--color) 15%, transparent 15%) 18px 8px,
    radial-gradient(circle, var(--color) 15%, transparent 15%) 18px 12px,
    radial-gradient(circle, var(--color) 15%, transparent 15%) 23px 6px;
  background-size: 50px 50px;
}

/* carta */
.card {
  
    background: white;
    width: 380px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    animation: aparecer 1.2s ease forwards;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
   


    
}

.card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.card p {
    color: #333;
    line-height: 1.6;
    animation: texto 1.8s ease;
}

/* Animaciones */
@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes texto {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.cartas{
    display: flex;
    flex-direction: column;

  margin-left: 20px;
  position: relative;
  left: 250px;
 

}
.card2{
  display: flex;
  justify-content: end;
  align-items: end;
  position: relative;
  right: 450px;
}
/* lazo */
.lazo{
  display: flex;
   position: absolute;
    top: -10px;     /* ajusta esto */
    left: 400px;    /* ajusta esto */
    transform: rotate(-20deg);
}

/* menu */
/* From Uiverse.io by pathikcomp */ 
.main > .inp {
  display: none;
}
.main {
  font-weight: 800;
  color: white;
  background-color: rgb(236, 76, 241);
  padding: 3px 15px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  height: 2.5rem;
  width: 12rem;
  position: relative;
  cursor: pointer;
  justify-content: space-between;
  left: 900px;
}

.arrow {
  height: 34%;
  aspect-ratio: 1;
  margin-block: auto;
  position: relative;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}

.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  background-color: white;
  height: 100%;
  width: 2.5px;
  border-radius: 500px;
  transform-origin: bottom;
}

.arrow::after {
  transform: rotate(35deg) translateX(-0.5px);
}
.arrow::before {
  transform: rotate(-35deg) translateX(0.5px);
}

.main > .inp:checked + .arrow {
  transform: rotateX(180deg);
}

.menu-container {
  background: linear-gradient(
    120deg,
    #ffffff,
    #e6b3ff,
    #ffffff,
    #d580ff
  );
  background-size: 300% 300%;
  animation: glitterMove 3s linear infinite;

  color: darkviolet;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 130%;
  overflow: hidden;
  clip-path: inset(0% 0% 0% 0% round 10px);
  transition: all 0.4s;
}

@keyframes glitterMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


.menu-list {
  --delay: 0.4s;
  --trdelay: 0.15s;
  padding: 8px 10px;
  border-radius: inherit;
  transition: background-color 0.2s 0s;
  position: relative;
  transform: translateY(30px);
  opacity: 0;
}

.menu-list::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 95%;
}

.menu-list:hover {
  background-color: rgb(223, 223, 223);
}

.inp:checked ~ .menu-container {
  clip-path: inset(10% 50% 90% 50% round 10px);
}

.inp:not(:checked) ~ .menu-container .menu-list {
  transform: translateY(0);
  opacity: 1;
}

.inp:not(:checked) ~ .menu-container .menu-list:nth-child(1) {
  transition:
    transform 0.4s var(--delay),
    opacity 0.4s var(--delay);
}

.inp:not(:checked) ~ .menu-container .menu-list:nth-child(2) {
  transition:
    transform 0.4s calc(var(--delay) + (var(--trdelay) * 1)),
    opacity 0.4s calc(var(--delay) + (var(--trdelay) * 1));
}

.inp:not(:checked) ~ .menu-container .menu-list:nth-child(3) {
  transition:
    transform 0.4s calc(var(--delay) + (var(--trdelay) * 2)),
    opacity 0.4s calc(var(--delay) + (var(--trdelay) * 2));
}

.inp:not(:checked) ~ .menu-container .menu-list:nth-child(4) {
  transition:
    transform 0.4s calc(var(--delay) + (var(--trdelay) * 3)),
    opacity 0.4s calc(var(--delay) + (var(--trdelay) * 3));
}

.bar-inp {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.bar {
  display: flex;
  height: 50%;
  width: 20px;
  flex-direction: column;
  gap: 3px;
}

.bar-list {
  --transform: -25%;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 50px;
  background-color: white;
  transition: all 0.4s;
  position: relative;
}

.inp:not(:checked) ~ .bar > .top {
  transform-origin: top right;
  transform: translateY(var(--transform)) rotate(-45deg);
}

.inp:not(:checked) ~ .bar > .middle {
  transform: translateX(-50%);
  opacity: 0;
}

.inp:not(:checked) ~ .bar > .bottom {
  transform-origin: bottom right;
  transform: translateY(calc(var(--transform) * -1)) rotate(45deg);
}
